.footer {
  display: flex;
  background-color: 'black';
  justify-content: space-around;
  height: 5rem;
  align-items: center;
}

#linkedin {
  width: 40px;
}

#awards {
  width: 150px;
}

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    height: 11rem;
  }

  #linkedin {
    padding-bottom: 1rem;
  }

  #awards {
    width: 100px;
  }
}